body {
    background-color: #7c91ba;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.topbar {
    background-color: #313438;
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 1s;
    height: 4rem;
    display: flex;
    align-items: center;
  }

.topbar a {
  height: 75%
}

.topbar div {
  height: 75%;
  display: flex;
}

.topbar div > img {
    height: 100%;
    width: 100%;
    border-radius: 15%;
}

.topbar nav a {
    font-size: 1.2rem;
    color: white;
    text-align: center;
    padding: .5em;
    margin: 0 .5em;
    text-decoration: none;
    border: .1em solid transparent;
    border-radius: 8px;
    transition: border .5s;
  }
  
.topbar nav a:hover {
    background-color: #212224;
    border-color: white;
  }